## **Dataset Description**
## Dataset Name : 1000000 Sales Records
## Columns:
- Region : (ex: Africa , Middle East , Asia , Central America , etc).
- Country.
- Item Type : Type of product such as Fruits , Clothes , Meat ,etc.
- Sales Channel : Whether the transaction is done online or offline.
- Order Priority : The priority of the order (L:Low , M:Medium , H:High , C:Critical).
- Order Date : Date of ordering the product.
- Order ID : Unique identifier for each order.
- Ship Date : Date of product arrival.
- Units Sold : Number of items sold in this transaction.
- Unit Price : Price of each single product.
- Unit Cost : Cost of each single product.
- Total Revenue.
- Total Cost.
- Total Profit : Net Profit.

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [ ]:
import pandas as pd
import numpy as np
import pyspark
from pyspark.sql import SparkSession, SQLContext
from pyspark.mllib.stat import Statistics
#from pyspark.sql.functions import col, count ,isnan , when ,datediff ,date_format , to_date , to_timestamp ,lit
from pyspark.mllib.feature import StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder , StringIndexer , VectorAssembler
from pyspark.ml.classification import LogisticRegression , RandomForestClassifier ,DecisionTreeClassifier , NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.sql.functions import *
from pyspark.sql import Window

## **Load Data**

In [ ]:
spark=SparkSession.builder.config("spark.driver.memory","15g").appName("Classification").getOrCreate()

In [ ]:
df=spark.read.csv("/content/drive/MyDrive/1000000 Sales Records.csv",header=True)

In [ ]:
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|      1593|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|      4611|    109.28|    35.84|    503890.08| 165258.24|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|       360|    421.89|   364.69|    151880.40| 131288.40|    20592.00|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|       562|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|      3973|     47.45|    31.79|    188518.85| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|      1379|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|       597|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|      1476|     47.45|    31.79|     70036.20|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|       896|    651.21|   524.96|    583484.16| 470364.16|   113120.00|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|      7768|    437.20|   263.33|   3396169.60|2045547.44|  1350622.16|
|                Asia|          Taiwan|         Fruits|      Offline|             M|  2/9/2014|732588374| 2/23/2014|      8034|      9.33|     6.92|     74957.22|  55595.28|    19361.94|
|Middle East and N...|         Algeria|      Cosmetics|       Online|             M| 2/18/2011|761723172| 2/24/2011|      9669|    437.20|   263.33|   4227286.80|2546137.77|  1681149.03|
|                Asia|       Singapore|         Snacks|       Online|             C| 1/28/2013|176461303|  2/7/2013|      7676|    152.58|    97.44|   1171204.08| 747949.44|   423254.64|
|Australia and Oce...|Papua New Guinea|        Clothes|      Offline|             L| 6/20/2011|647164094| 7/14/2011|      9092|    109.28|    35.84|    993573.76| 325857.28|   667716.48|
|                Asia|         Vietnam|  Personal Care|       Online|             M|  4/4/2010|314505374|  5/6/2010|      7984|     81.73|    56.67|    652532.32| 452453.28|   200079.04|
|  Sub-Saharan Africa|          Uganda|  Personal Care|       Online|             M| 6/19/2014|539471471| 7/21/2014|       451|     81.73|    56.67|     36860.23|  25558.17|    11302.06|
|  Sub-Saharan Africa|        Zimbabwe|Office Supplies|      Offline|             C| 3/28/2011|953361213|  4/8/2011|      9623|    651.21|   524.96|   6266593.83|5051690.08|  1214903.75|
|  Sub-Saharan Africa|        Ethiopia|      Cosmetics|       Online|             M|  7/7/2011|807785928| 7/25/2011|       662|    437.20|   263.33|    289426.40| 174324.46|   115101.94|
|              Europe|          France|      Cosmetics|       Online|             M| 12/7/2015|324669444| 1/18/2016|      5758|    437.20|   263.33|   2517397.60|1516254.14|  1001143.46|
|Central America a...|     The Bahamas|  Personal Care|       Online|             C| 1/19/2011|246248090| 2/21/2011|      9137|     81.73|    56.67|    746767.01| 517793.79|   228973.22|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

## **Displaying the types of Dataframe columns**

In [ ]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: string (nullable = true)
 |-- Unit Price: string (nullable = true)
 |-- Unit Cost: string (nullable = true)
 |-- Total Revenue: string (nullable = true)
 |-- Total Cost: string (nullable = true)
 |-- Total Profit: string (nullable = true)

## **Converting dataframe numerical columns to float data type instead of string**

In [ ]:
numerical_columns=['Units Sold','Unit Price','Unit Cost','Total Revenue','Total Cost','Total Profit']

for column in numerical_columns:
  df=df.withColumn(column,df[column].cast("float").alias(column))

In [ ]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: float (nullable = true)
 |-- Unit Price: float (nullable = true)
 |-- Unit Cost: float (nullable = true)
 |-- Total Revenue: float (nullable = true)
 |-- Total Cost: float (nullable = true)
 |-- Total Profit: float (nullable = true)

In [ ]:
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|    South Africa|         Fruits|      Offline|             M| 7/27/2012|443368995| 7/28/2012|    1593.0|      9.33|     6.92|     14862.69|  11023.56|     3839.13|
|Middle East and N...|         Morocco|        Clothes|       Online|             M| 9/14/2013|667593514|10/19/2013|    4611.0|    109.28|    35.84|     503890.1| 165258.23|   338631.84|
|Australia and Oce...|Papua New Guinea|           Meat|      Offline|             M| 5/15/2015|940995585|  6/4/2015|     360.0|    421.89|   364.69|     151880.4|  131288.4|     20592.0|
|  Sub-Saharan Africa|        Djibouti|        Clothes|      Offline|             H| 5/17/2017|880811536|  7/2/2017|     562.0|    109.28|    35.84|     61415.36|  20142.08|    41273.28|
|              Europe|        Slovakia|      Beverages|      Offline|             L|10/26/2016|174590194| 12/4/2016|    3973.0|     47.45|    31.79|    188518.84| 126301.67|    62217.18|
|                Asia|       Sri Lanka|         Fruits|       Online|             L| 11/7/2011|830192887|12/18/2011|    1379.0|      9.33|     6.92|     12866.07|   9542.68|     3323.39|
|  Sub-Saharan Africa|     Seychelles |      Beverages|       Online|             M| 1/18/2013|425793445| 2/16/2013|     597.0|     47.45|    31.79|     28327.65|  18978.63|     9349.02|
|  Sub-Saharan Africa|        Tanzania|      Beverages|       Online|             L|11/30/2016|659878194| 1/16/2017|    1476.0|     47.45|    31.79|      70036.2|  46922.04|    23114.16|
|  Sub-Saharan Africa|           Ghana|Office Supplies|       Online|             L| 3/23/2017|601245963| 4/15/2017|     896.0|    651.21|   524.96|     583484.2| 470364.16|    113120.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             L| 5/23/2016|739008080| 5/24/2016|    7768.0|     437.2|   263.33|    3396169.5| 2045547.5|   1350622.1|
|                Asia|          Taiwan|         Fruits|      Offline|             M|  2/9/2014|732588374| 2/23/2014|    8034.0|      9.33|     6.92|     74957.22|  55595.28|    19361.94|
|Middle East and N...|         Algeria|      Cosmetics|       Online|             M| 2/18/2011|761723172| 2/24/2011|    9669.0|     437.2|   263.33|    4227287.0| 2546137.8|   1681149.0|
|                Asia|       Singapore|         Snacks|       Online|             C| 1/28/2013|176461303|  2/7/2013|    7676.0|    152.58|    97.44|    1171204.1| 747949.44|   423254.62|
|Australia and Oce...|Papua New Guinea|        Clothes|      Offline|             L| 6/20/2011|647164094| 7/14/2011|    9092.0|    109.28|    35.84|    993573.75| 325857.28|    667716.5|
|                Asia|         Vietnam|  Personal Care|       Online|             M|  4/4/2010|314505374|  5/6/2010|    7984.0|     81.73|    56.67|     652532.3| 452453.28|   200079.05|
|  Sub-Saharan Africa|          Uganda|  Personal Care|       Online|             M| 6/19/2014|539471471| 7/21/2014|     451.0|     81.73|    56.67|     36860.23|  25558.17|    11302.06|
|  Sub-Saharan Africa|        Zimbabwe|Office Supplies|      Offline|             C| 3/28/2011|953361213|  4/8/2011|    9623.0|    651.21|   524.96|    6266594.0| 5051690.0|   1214903.8|
|  Sub-Saharan Africa|        Ethiopia|      Cosmetics|       Online|             M|  7/7/2011|807785928| 7/25/2011|     662.0|     437.2|   263.33|     289426.4| 174324.45|   115101.94|
|              Europe|          France|      Cosmetics|       Online|             M| 12/7/2015|324669444| 1/18/2016|    5758.0|     437.2|   263.33|    2517397.5| 1516254.1|  1001143.44|
|Central America a...|     The Bahamas|  Personal Care|       Online|             C| 1/19/2011|246248090| 2/21/2011|    9137.0|     81.73|    56.67|     746767.0| 517793.78|   228973.22|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

## **Checking for Nulls in each column of the dataframe**

In [ ]:
df.select([count(when(col(c).isNull(),c)).alias(c) for c in df.columns]).show()

+------+-------+---------+-------------+--------------+----------+--------+---------+----------+----------+---------+-------------+----------+------------+
|Region|Country|Item Type|Sales Channel|Order Priority|Order Date|Order ID|Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+------+-------+---------+-------------+--------------+----------+--------+---------+----------+----------+---------+-------------+----------+------------+
|     0|      0|        0|            0|             0|         0|       0|        0|         0|         0|        0|            0|         0|           0|
+------+-------+---------+-------------+--------------+----------+--------+---------+----------+----------+---------+-------------+----------+------------+

## **Checking if there are duplicate rows in the dataframe**

In [ ]:
print(df.count()-df.distinct().count())

50009

## **Removing duplicate records in the dataframe**

In [ ]:
df=df.dropDuplicates()

In [ ]:
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  Sub-Saharan Africa|          Malawi|      Household|      Offline|             H| 4/24/2012|358857953| 5/14/2012|    2898.0|    668.27|   502.54|    1936646.5| 1456360.9|   480285.53|
|                Asia|           Nepal|  Personal Care|       Online|             H| 5/20/2011|543531262|  6/3/2011|    1834.0|     81.73|    56.67|    149892.81| 103932.78|    45960.04|
|Middle East and N...|         Algeria|         Fruits|      Offline|             C| 9/25/2012|516187322| 11/7/2012|     154.0|      9.33|     6.92|      1436.82|   1065.68|      371.14|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             C|12/16/2012|376671254| 1/11/2013|    4249.0|     437.2|   263.33|    1857662.8| 1118889.1|    738773.6|
|  Sub-Saharan Africa|         Burundi|      Cosmetics|      Offline|             M| 8/25/2016|557419526|10/11/2016|    1680.0|     437.2|   263.33|     734496.0|  442394.4|    292101.6|
|              Europe|         Georgia|         Snacks|      Offline|             M| 3/11/2015|657060372| 4/30/2015|    7620.0|    152.58|    97.44|    1162659.6|  742492.8|    420166.8|
|  Sub-Saharan Africa|        Botswana|      Beverages|      Offline|             L| 3/17/2013|717284762|  4/9/2013|    9356.0|     47.45|    31.79|     443942.2| 297427.25|   146514.95|
|  Sub-Saharan Africa|      Cape Verde|      Baby Food|       Online|             L| 3/29/2017|911781394| 4/16/2017|    5231.0|    255.28|   159.42|    1335369.6|  833926.0|   501443.66|
|Australia and Oce...|Marshall Islands|Office Supplies|      Offline|             C| 8/26/2013|220405757|  9/7/2013|    1816.0|    651.21|   524.96|    1182597.4|  953327.4|    229270.0|
|Middle East and N...|           Syria|         Cereal|       Online|             M| 5/12/2017|368566262| 5/29/2017|    5802.0|     205.7|   117.11|    1193471.4| 679472.25|    513999.2|
|              Europe|       Lithuania|         Snacks|       Online|             H| 7/24/2012|924166333| 8/10/2012|     210.0|    152.58|    97.44|      32041.8|   20462.4|     11579.4|
|Central America a...|            Cuba|      Cosmetics|      Offline|             H| 2/13/2011|966541802| 3/24/2011|      53.0|     437.2|   263.33|      23171.6|  13956.49|     9215.11|
|Australia and Oce...|        Kiribati|  Personal Care|       Online|             C| 5/29/2010|644016253| 6/11/2010|    7576.0|     81.73|    56.67|     619186.5|  429331.9|   189854.56|
|                Asia|        Thailand|     Vegetables|       Online|             M| 7/31/2011|393505656| 8/27/2011|    5923.0|    154.06|    90.93|     912497.4|  538578.4|    373919.0|
|Central America a...|     Saint Lucia|      Cosmetics|      Offline|             M| 4/25/2013|291513478| 5/28/2013|    4171.0|     437.2|   263.33|    1823561.2| 1098349.4|   725211.75|
|              Europe|           Malta|         Snacks|       Online|             C|  1/2/2011|823392522| 2/15/2011|    9000.0|    152.58|    97.44|    1373220.0|  876960.0|    496260.0|
|Central America a...|        Dominica|         Cereal|       Online|             C|12/30/2015|423932635|  1/3/2016|    9942.0|     205.7|   117.11|    2045069.4| 1164307.6|   880761.75|
|  Sub-Saharan Africa|        Ethiopia|      Baby Food|      Offline|             L| 6/12/2011|176913630| 6/19/2011|    1530.0|    255.28|   159.42|     390578.4|  243912.6|    146665.8|
|       North America|          Canada|         Snacks|      Offline|             M|11/25/2013|280475223|12/22/2013|    7706.0|    152.58|    97.44|    1175781.5|  750872.6|   424908.84|
|              Europe|           Italy|      Baby Food|      Offline|             L| 9/10/2014|204267442|10/11/2014|    6130.0|    255.28|   159.42|    1564866.4|  977244.6|    587621.8|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

## **Converting Order Date and Ship Date to MM/dd/yyyy Format**

In [ ]:
from pyspark.sql.functions import *
def convert_date_to_correct_format(date_col,col_name):
  date_col_updated=[]
  for elem in date_col.collect():
    date_components=elem[col_name].split('/')
    reformatted_date=""
    if(len(date_components[0])==1):
      reformatted_date+="0"
    reformatted_date+=date_components[0]
    reformatted_date+="/"
    if(len(date_components[1])==1):
      reformatted_date+="0"
    reformatted_date+=date_components[1]
    reformatted_date+="/"
    reformatted_date+=date_components[2]
    date_col_updated.append(reformatted_date)
  return date_col_updated

order_date_column =df.select(col("Order Date"))
ship_date_column=df.select(col("Ship Date"))

reformatted_order_date=convert_date_to_correct_format(order_date_column,"Order Date")
reformatted_ship_date=convert_date_to_correct_format(ship_date_column,"Ship Date")

In [ ]:
c1 = spark.createDataFrame([(l,) for l in reformatted_order_date], ['Reformatted Order Date'])
c2 = spark.createDataFrame([(l,) for l in reformatted_ship_date], ['Reformatted Ship Date'])
c1= c1.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))
c2 =c2.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))
dates_df = c1.join(c2, c1.row_idx == c2.row_idx).drop(c1.row_idx)
df=df.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))
df=df.join(dates_df,df.row_idx == dates_df.row_idx).drop('row_idx')
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------------------+---------------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|Reformatted Order Date|Reformatted Ship Date|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------------------+---------------------+
|  Sub-Saharan Africa|          Malawi|      Household|      Offline|             H| 4/24/2012|358857953| 5/14/2012|    2898.0|    668.27|   502.54|    1936646.5| 1456360.9|   480285.53|            04/24/2012|           05/14/2012|
|                Asia|           Nepal|  Personal Care|       Online|             H| 5/20/2011|543531262|  6/3/2011|    1834.0|     81.73|    56.67|    149892.81| 103932.78|    45960.04|            05/20/2011|           06/03/2011|
|Middle East and N...|         Algeria|         Fruits|      Offline|             C| 9/25/2012|516187322| 11/7/2012|     154.0|      9.33|     6.92|      1436.82|   1065.68|      371.14|            09/25/2012|           11/07/2012|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             C|12/16/2012|376671254| 1/11/2013|    4249.0|     437.2|   263.33|    1857662.8| 1118889.1|    738773.6|            12/16/2012|           01/11/2013|
|  Sub-Saharan Africa|         Burundi|      Cosmetics|      Offline|             M| 8/25/2016|557419526|10/11/2016|    1680.0|     437.2|   263.33|     734496.0|  442394.4|    292101.6|            08/25/2016|           10/11/2016|
|              Europe|         Georgia|         Snacks|      Offline|             M| 3/11/2015|657060372| 4/30/2015|    7620.0|    152.58|    97.44|    1162659.6|  742492.8|    420166.8|            03/11/2015|           04/30/2015|
|  Sub-Saharan Africa|        Botswana|      Beverages|      Offline|             L| 3/17/2013|717284762|  4/9/2013|    9356.0|     47.45|    31.79|     443942.2| 297427.25|   146514.95|            03/17/2013|           04/09/2013|
|  Sub-Saharan Africa|      Cape Verde|      Baby Food|       Online|             L| 3/29/2017|911781394| 4/16/2017|    5231.0|    255.28|   159.42|    1335369.6|  833926.0|   501443.66|            03/29/2017|           04/16/2017|
|Australia and Oce...|Marshall Islands|Office Supplies|      Offline|             C| 8/26/2013|220405757|  9/7/2013|    1816.0|    651.21|   524.96|    1182597.4|  953327.4|    229270.0|            08/26/2013|           09/07/2013|
|Middle East and N...|           Syria|         Cereal|       Online|             M| 5/12/2017|368566262| 5/29/2017|    5802.0|     205.7|   117.11|    1193471.4| 679472.25|    513999.2|            05/12/2017|           05/29/2017|
|              Europe|       Lithuania|         Snacks|       Online|             H| 7/24/2012|924166333| 8/10/2012|     210.0|    152.58|    97.44|      32041.8|   20462.4|     11579.4|            07/24/2012|           08/10/2012|
|Central America a...|            Cuba|      Cosmetics|      Offline|             H| 2/13/2011|966541802| 3/24/2011|      53.0|     437.2|   263.33|      23171.6|  13956.49|     9215.11|            02/13/2011|           03/24/2011|
|Australia and Oce...|        Kiribati|  Personal Care|       Online|             C| 5/29/2010|644016253| 6/11/2010|    7576.0|     81.73|    56.67|     619186.5|  429331.9|   189854.56|            05/29/2010|           06/11/2010|
|                Asia|        Thailand|     Vegetables|       Online|             M| 7/31/2011|393505656| 8/27/2011|    5923.0|    154.06|    90.93|     912497.4|  538578.4|    373919.0|            07/31/2011|           08/27/2011|
|Central America a...|     Saint Lucia|      Cosmetics|      Offline|             M| 4/25/2013|291513478| 5/28/2013|    4171.0|     437.2|   263.33|    1823561.2| 1098349.4|   725211.75|            04/25/2013|           05/28/2013|
|              Europe|           Malta|         Snacks|       Online|             C|  1/2/2011|823392522| 2/15/2011|    9000.0|    152.58|    97.44|    1373220.0|  876960.0|    496260.0|            01/02/2011|           02/15/2011|
|Central America a...|        Dominica|         Cereal|       Online|             C|12/30/2015|423932635|  1/3/2016|    9942.0|     205.7|   117.11|    2045069.4| 1164307.6|   880761.75|            12/30/2015|           01/03/2016|
|  Sub-Saharan Africa|        Ethiopia|      Baby Food|      Offline|             L| 6/12/2011|176913630| 6/19/2011|    1530.0|    255.28|   159.42|     390578.4|  243912.6|    146665.8|            06/12/2011|           06/19/2011|
|       North America|          Canada|         Snacks|      Offline|             M|11/25/2013|280475223|12/22/2013|    7706.0|    152.58|    97.44|    1175781.5|  750872.6|   424908.84|            11/25/2013|           12/22/2013|
|              Europe|           Italy|      Baby Food|      Offline|             L| 9/10/2014|204267442|10/11/2014|    6130.0|    255.28|   159.42|    1564866.4|  977244.6|    587621.8|            09/10/2014|           10/11/2014|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------------------+---------------------+
only showing top 20 rows

## **Adding a new column to the dataframe called shipping days which is the difference between the Shipping date and Order date**

In [ ]:
df=df.select("*",
              datediff(to_date(col("Reformatted Ship Date"),"MM/dd/yyyy"),
                       to_date(col("Reformatted Order Date"),"MM/dd/yyyy")).alias("Shipping days"))
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------------------+---------------------+-------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|Reformatted Order Date|Reformatted Ship Date|Shipping days|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------------------+---------------------+-------------+
|  Sub-Saharan Africa|          Malawi|      Household|      Offline|             H| 4/24/2012|358857953| 5/14/2012|    2898.0|    668.27|   502.54|    1936646.5| 1456360.9|   480285.53|            04/24/2012|           05/14/2012|           20|
|                Asia|           Nepal|  Personal Care|       Online|             H| 5/20/2011|543531262|  6/3/2011|    1834.0|     81.73|    56.67|    149892.81| 103932.78|    45960.04|            05/20/2011|           06/03/2011|           14|
|Middle East and N...|         Algeria|         Fruits|      Offline|             C| 9/25/2012|516187322| 11/7/2012|     154.0|      9.33|     6.92|      1436.82|   1065.68|      371.14|            09/25/2012|           11/07/2012|           43|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             C|12/16/2012|376671254| 1/11/2013|    4249.0|     437.2|   263.33|    1857662.8| 1118889.1|    738773.6|            12/16/2012|           01/11/2013|           26|
|  Sub-Saharan Africa|         Burundi|      Cosmetics|      Offline|             M| 8/25/2016|557419526|10/11/2016|    1680.0|     437.2|   263.33|     734496.0|  442394.4|    292101.6|            08/25/2016|           10/11/2016|           47|
|              Europe|         Georgia|         Snacks|      Offline|             M| 3/11/2015|657060372| 4/30/2015|    7620.0|    152.58|    97.44|    1162659.6|  742492.8|    420166.8|            03/11/2015|           04/30/2015|           50|
|  Sub-Saharan Africa|        Botswana|      Beverages|      Offline|             L| 3/17/2013|717284762|  4/9/2013|    9356.0|     47.45|    31.79|     443942.2| 297427.25|   146514.95|            03/17/2013|           04/09/2013|           23|
|  Sub-Saharan Africa|      Cape Verde|      Baby Food|       Online|             L| 3/29/2017|911781394| 4/16/2017|    5231.0|    255.28|   159.42|    1335369.6|  833926.0|   501443.66|            03/29/2017|           04/16/2017|           18|
|Australia and Oce...|Marshall Islands|Office Supplies|      Offline|             C| 8/26/2013|220405757|  9/7/2013|    1816.0|    651.21|   524.96|    1182597.4|  953327.4|    229270.0|            08/26/2013|           09/07/2013|           12|
|Middle East and N...|           Syria|         Cereal|       Online|             M| 5/12/2017|368566262| 5/29/2017|    5802.0|     205.7|   117.11|    1193471.4| 679472.25|    513999.2|            05/12/2017|           05/29/2017|           17|
|              Europe|       Lithuania|         Snacks|       Online|             H| 7/24/2012|924166333| 8/10/2012|     210.0|    152.58|    97.44|      32041.8|   20462.4|     11579.4|            07/24/2012|           08/10/2012|           17|
|Central America a...|            Cuba|      Cosmetics|      Offline|             H| 2/13/2011|966541802| 3/24/2011|      53.0|     437.2|   263.33|      23171.6|  13956.49|     9215.11|            02/13/2011|           03/24/2011|           39|
|Australia and Oce...|        Kiribati|  Personal Care|       Online|             C| 5/29/2010|644016253| 6/11/2010|    7576.0|     81.73|    56.67|     619186.5|  429331.9|   189854.56|            05/29/2010|           06/11/2010|           13|
|                Asia|        Thailand|     Vegetables|       Online|             M| 7/31/2011|393505656| 8/27/2011|    5923.0|    154.06|    90.93|     912497.4|  538578.4|    373919.0|            07/31/2011|           08/27/2011|           27|
|Central America a...|     Saint Lucia|      Cosmetics|      Offline|             M| 4/25/2013|291513478| 5/28/2013|    4171.0|     437.2|   263.33|    1823561.2| 1098349.4|   725211.75|            04/25/2013|           05/28/2013|           33|
|              Europe|           Malta|         Snacks|       Online|             C|  1/2/2011|823392522| 2/15/2011|    9000.0|    152.58|    97.44|    1373220.0|  876960.0|    496260.0|            01/02/2011|           02/15/2011|           44|
|Central America a...|        Dominica|         Cereal|       Online|             C|12/30/2015|423932635|  1/3/2016|    9942.0|     205.7|   117.11|    2045069.4| 1164307.6|   880761.75|            12/30/2015|           01/03/2016|            4|
|  Sub-Saharan Africa|        Ethiopia|      Baby Food|      Offline|             L| 6/12/2011|176913630| 6/19/2011|    1530.0|    255.28|   159.42|     390578.4|  243912.6|    146665.8|            06/12/2011|           06/19/2011|            7|
|       North America|          Canada|         Snacks|      Offline|             M|11/25/2013|280475223|12/22/2013|    7706.0|    152.58|    97.44|    1175781.5|  750872.6|   424908.84|            11/25/2013|           12/22/2013|           27|
|              Europe|           Italy|      Baby Food|      Offline|             L| 9/10/2014|204267442|10/11/2014|    6130.0|    255.28|   159.42|    1564866.4|  977244.6|    587621.8|            09/10/2014|           10/11/2014|           31|
+--------------------+----------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+----------------------+---------------------+-------------+
only showing top 20 rows

## **Dropping some columns after feature engineering and data cleaning and keeping only the columns that will be used during modeling**

In [ ]:
columns_to_drop=['Order ID','Total Revenue','Total Cost','Order Date','Ship Date','Reformatted Order Date','Reformatted Ship Date']
df=df.drop(*(columns_to_drop))

## **Label encoding for the output column (Order Priority)**

In [ ]:
indexer=StringIndexer(inputCol="Item Type",outputCol="Item Type Label").fit(df)
df=indexer.transform(df)
df.show()

+--------------------+----------------+---------------+-------------+--------------+----------+----------+---------+------------+-------------+---------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Units Sold|Unit Price|Unit Cost|Total Profit|Shipping days|Item Type Label|
+--------------------+----------------+---------------+-------------+--------------+----------+----------+---------+------------+-------------+---------------+
|  Sub-Saharan Africa|          Malawi|      Household|      Offline|             H|    2898.0|    668.27|   502.54|   480285.53|           20|            7.0|
|                Asia|           Nepal|  Personal Care|       Online|             H|    1834.0|     81.73|    56.67|    45960.04|           14|            1.0|
|Middle East and N...|         Algeria|         Fruits|      Offline|             C|     154.0|      9.33|     6.92|      371.14|           43|            0.0|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             C|    4249.0|     437.2|   263.33|    738773.6|           26|            3.0|
|  Sub-Saharan Africa|         Burundi|      Cosmetics|      Offline|             M|    1680.0|     437.2|   263.33|    292101.6|           47|            3.0|
|              Europe|         Georgia|         Snacks|      Offline|             M|    7620.0|    152.58|    97.44|    420166.8|           50|            4.0|
|  Sub-Saharan Africa|        Botswana|      Beverages|      Offline|             L|    9356.0|     47.45|    31.79|   146514.95|           23|            5.0|
|  Sub-Saharan Africa|      Cape Verde|      Baby Food|       Online|             L|    5231.0|    255.28|   159.42|   501443.66|           18|            2.0|
|Australia and Oce...|Marshall Islands|Office Supplies|      Offline|             C|    1816.0|    651.21|   524.96|    229270.0|           12|           10.0|
|Middle East and N...|           Syria|         Cereal|       Online|             M|    5802.0|     205.7|   117.11|    513999.2|           17|            8.0|
|              Europe|       Lithuania|         Snacks|       Online|             H|     210.0|    152.58|    97.44|     11579.4|           17|            4.0|
|Central America a...|            Cuba|      Cosmetics|      Offline|             H|      53.0|     437.2|   263.33|     9215.11|           39|            3.0|
|Australia and Oce...|        Kiribati|  Personal Care|       Online|             C|    7576.0|     81.73|    56.67|   189854.56|           13|            1.0|
|                Asia|        Thailand|     Vegetables|       Online|             M|    5923.0|    154.06|    90.93|    373919.0|           27|           11.0|
|Central America a...|     Saint Lucia|      Cosmetics|      Offline|             M|    4171.0|     437.2|   263.33|   725211.75|           33|            3.0|
|              Europe|           Malta|         Snacks|       Online|             C|    9000.0|    152.58|    97.44|    496260.0|           44|            4.0|
|Central America a...|        Dominica|         Cereal|       Online|             C|    9942.0|     205.7|   117.11|   880761.75|            4|            8.0|
|  Sub-Saharan Africa|        Ethiopia|      Baby Food|      Offline|             L|    1530.0|    255.28|   159.42|    146665.8|            7|            2.0|
|       North America|          Canada|         Snacks|      Offline|             M|    7706.0|    152.58|    97.44|   424908.84|           27|            4.0|
|              Europe|           Italy|      Baby Food|      Offline|             L|    6130.0|    255.28|   159.42|    587621.8|           31|            2.0|
+--------------------+----------------+---------------+-------------+--------------+----------+----------+---------+------------+-------------+---------------+
only showing top 20 rows

## **Feature engineering the categorical columns using one hot encoding technique**

In [ ]:
## Showing the number of unique values for each categorical column 
text_columns=["Region","Country","Item Type","Sales Channel"]
for col in text_columns:
  print(col+" has "+str(df.select(col).distinct().count())+" Distinct Values")

Region has 7 Distinct Values
Country has 185 Distinct Values
Item Type has 12 Distinct Values
Sales Channel has 2 Distinct Values

In [ ]:
####
text_columns=["Region","Country","Order Priority","Sales Channel"]
indexers=[StringIndexer(inputCol=c,outputCol="{}_indexed".format(c)) for c in text_columns]
encoders = [OneHotEncoder(inputCol=indexer.getOutputCol(),
                        outputCol="{}_encoded".format(indexer.getOutputCol()))
                        for indexer in indexers]

all_columns=[]
filtered_numerical_columns=['Units Sold','Unit Price','Unit Cost','Shipping days']
all_columns.extend(filtered_numerical_columns)
encoder_columns=[encoder.getOutputCol() for encoder in encoders]
all_columns.extend(encoder_columns)

print(all_columns)
assembler = VectorAssembler(
    inputCols=all_columns,
    outputCol="features"
)
pipeline = Pipeline(stages=indexers + encoders + [assembler])
final_features=pipeline.fit(df).transform(df)
final_features.show()

['Units Sold', 'Unit Price', 'Unit Cost', 'Shipping days', 'Region_indexed_encoded', 'Country_indexed_encoded', 'Order Priority_indexed_encoded', 'Sales Channel_indexed_encoded']
+--------------------+----------------+---------------+-------------+--------------+----------+----------+---------+------------+-------------+---------------+--------------+---------------+----------------------+---------------------+----------------------+-----------------------+------------------------------+-----------------------------+--------------------+
|              Region|         Country|      Item Type|Sales Channel|Order Priority|Units Sold|Unit Price|Unit Cost|Total Profit|Shipping days|Item Type Label|Region_indexed|Country_indexed|Order Priority_indexed|Sales Channel_indexed|Region_indexed_encoded|Country_indexed_encoded|Order Priority_indexed_encoded|Sales Channel_indexed_encoded|            features|
+--------------------+----------------+---------------+-------------+--------------+----------+----------+---------+------------+-------------+---------------+--------------+---------------+----------------------+---------------------+----------------------+-----------------------+------------------------------+-----------------------------+--------------------+
|  Sub-Saharan Africa|          Malawi|      Household|      Offline|             H|    2898.0|    668.27|   502.54|   480285.53|           20|            7.0|           0.0|           62.0|                   2.0|                  0.0|         (6,[0],[1.0])|       (184,[62],[1.0])|                 (3,[2],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,4,7...|
|                Asia|           Nepal|  Personal Care|       Online|             H|    1834.0|     81.73|    56.67|    45960.04|           14|            1.0|           2.0|           83.0|                   2.0|                  1.0|         (6,[2],[1.0])|       (184,[83],[1.0])|                 (3,[2],[1.0])|                    (1,[],[])|(198,[0,1,2,3,6,9...|
|Middle East and N...|         Algeria|         Fruits|      Offline|             C|     154.0|      9.33|     6.92|      371.14|           43|            0.0|           3.0|            7.0|                   0.0|                  0.0|         (6,[3],[1.0])|        (184,[7],[1.0])|                 (3,[0],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,7,1...|
|  Sub-Saharan Africa|        Tanzania|      Cosmetics|      Offline|             C|    4249.0|     437.2|   263.33|    738773.6|           26|            3.0|           0.0|           45.0|                   0.0|                  0.0|         (6,[0],[1.0])|       (184,[45],[1.0])|                 (3,[0],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,4,5...|
|  Sub-Saharan Africa|         Burundi|      Cosmetics|      Offline|             M|    1680.0|     437.2|   263.33|    292101.6|           47|            3.0|           0.0|          161.0|                   3.0|                  0.0|         (6,[0],[1.0])|      (184,[161],[1.0])|                     (3,[],[])|                (1,[0],[1.0])|(198,[0,1,2,3,4,1...|
|              Europe|         Georgia|         Snacks|      Offline|             M|    7620.0|    152.58|    97.44|    420166.8|           50|            4.0|           1.0|          183.0|                   3.0|                  0.0|         (6,[1],[1.0])|      (184,[183],[1.0])|                     (3,[],[])|                (1,[0],[1.0])|(198,[0,1,2,3,5,1...|
|  Sub-Saharan Africa|        Botswana|      Beverages|      Offline|             L|    9356.0|     47.45|    31.79|   146514.95|           23|            5.0|           0.0|           67.0|                   1.0|                  0.0|         (6,[0],[1.0])|       (184,[67],[1.0])|                 (3,[1],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,4,7...|
|  Sub-Saharan Africa|      Cape Verde|      Baby Food|       Online|             L|    5231.0|    255.28|   159.42|   501443.66|           18|            2.0|           0.0|           14.0|                   1.0|                  1.0|         (6,[0],[1.0])|       (184,[14],[1.0])|                 (3,[1],[1.0])|                    (1,[],[])|(198,[0,1,2,3,4,2...|
|Australia and Oce...|Marshall Islands|Office Supplies|      Offline|             C|    1816.0|    651.21|   524.96|    229270.0|           12|           10.0|           5.0|           97.0|                   0.0|                  0.0|         (6,[5],[1.0])|       (184,[97],[1.0])|                 (3,[0],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,9,1...|
|Middle East and N...|           Syria|         Cereal|       Online|             M|    5802.0|     205.7|   117.11|    513999.2|           17|            8.0|           3.0|           53.0|                   3.0|                  1.0|         (6,[3],[1.0])|       (184,[53],[1.0])|                     (3,[],[])|                    (1,[],[])|(198,[0,1,2,3,7,6...|
|              Europe|       Lithuania|         Snacks|       Online|             H|     210.0|    152.58|    97.44|     11579.4|           17|            4.0|           1.0|          104.0|                   2.0|                  1.0|         (6,[1],[1.0])|      (184,[104],[1.0])|                 (3,[2],[1.0])|                    (1,[],[])|(198,[0,1,2,3,5,1...|
|Central America a...|            Cuba|      Cosmetics|      Offline|             H|      53.0|     437.2|   263.33|     9215.11|           39|            3.0|           4.0|          146.0|                   2.0|                  0.0|         (6,[4],[1.0])|      (184,[146],[1.0])|                 (3,[2],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,8,1...|
|Australia and Oce...|        Kiribati|  Personal Care|       Online|             C|    7576.0|     81.73|    56.67|   189854.56|           13|            1.0|           5.0|          154.0|                   0.0|                  1.0|         (6,[5],[1.0])|      (184,[154],[1.0])|                 (3,[0],[1.0])|                    (1,[],[])|(198,[0,1,2,3,9,1...|
|                Asia|        Thailand|     Vegetables|       Online|             M|    5923.0|    154.06|    90.93|    373919.0|           27|           11.0|           2.0|           22.0|                   3.0|                  1.0|         (6,[2],[1.0])|       (184,[22],[1.0])|                     (3,[],[])|                    (1,[],[])|(198,[0,1,2,3,6,3...|
|Central America a...|     Saint Lucia|      Cosmetics|      Offline|             M|    4171.0|     437.2|   263.33|   725211.75|           33|            3.0|           4.0|           77.0|                   3.0|                  0.0|         (6,[4],[1.0])|       (184,[77],[1.0])|                     (3,[],[])|                (1,[0],[1.0])|(198,[0,1,2,3,8,8...|
|              Europe|           Malta|         Snacks|       Online|             C|    9000.0|    152.58|    97.44|    496260.0|           44|            4.0|           1.0|           56.0|                   0.0|                  1.0|         (6,[1],[1.0])|       (184,[56],[1.0])|                 (3,[0],[1.0])|                    (1,[],[])|(198,[0,1,2,3,5,6...|
|Central America a...|        Dominica|         Cereal|       Online|             C|    9942.0|     205.7|   117.11|   880761.75|            4|            8.0|           4.0|          132.0|                   0.0|                  1.0|         (6,[4],[1.0])|      (184,[132],[1.0])|                 (3,[0],[1.0])|                    (1,[],[])|(198,[0,1,2,3,8,1...|
|  Sub-Saharan Africa|        Ethiopia|      Baby Food|      Offline|             L|    1530.0|    255.28|   159.42|    146665.8|            7|            2.0|           0.0|           11.0|                   1.0|                  0.0|         (6,[0],[1.0])|       (184,[11],[1.0])|                 (3,[1],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,4,2...|
|       North America|          Canada|         Snacks|      Offline|             M|    7706.0|    152.58|    97.44|   424908.84|           27|            4.0|           6.0|           89.0|                   3.0|                  0.0|             (6,[],[])|       (184,[89],[1.0])|                     (3,[],[])|                (1,[0],[1.0])|(198,[0,1,2,3,99,...|
|              Europe|           Italy|      Baby Food|      Offline|             L|    6130.0|    255.28|   159.42|    587621.8|           31|            2.0|           1.0|           15.0|                   1.0|                  0.0|         (6,[1],[1.0])|       (184,[15],[1.0])|                 (3,[1],[1.0])|                (1,[0],[1.0])|(198,[0,1,2,3,5,2...|
+--------------------+----------------+---------------+-------------+--------------+----------+----------+---------+------------+-------------+---------------+--------------+---------------+----------------------+---------------------+----------------------+-----------------------+------------------------------+-----------------------------+--------------------+
only showing top 20 rows

In [ ]:
final_features.select("features","Item Type Label").show()

+--------------------+---------------+
|            features|Item Type Label|
+--------------------+---------------+
|(198,[0,1,2,3,4,7...|            7.0|
|(198,[0,1,2,3,6,9...|            1.0|
|(198,[0,1,2,3,7,1...|            0.0|
|(198,[0,1,2,3,4,5...|            3.0|
|(198,[0,1,2,3,4,1...|            3.0|
|(198,[0,1,2,3,5,1...|            4.0|
|(198,[0,1,2,3,4,7...|            5.0|
|(198,[0,1,2,3,4,2...|            2.0|
|(198,[0,1,2,3,9,1...|           10.0|
|(198,[0,1,2,3,7,6...|            8.0|
|(198,[0,1,2,3,5,1...|            4.0|
|(198,[0,1,2,3,8,1...|            3.0|
|(198,[0,1,2,3,9,1...|            1.0|
|(198,[0,1,2,3,6,3...|           11.0|
|(198,[0,1,2,3,8,8...|            3.0|
|(198,[0,1,2,3,5,6...|            4.0|
|(198,[0,1,2,3,8,1...|            8.0|
|(198,[0,1,2,3,4,2...|            2.0|
|(198,[0,1,2,3,99,...|            4.0|
|(198,[0,1,2,3,5,2...|            2.0|
+--------------------+---------------+
only showing top 20 rows

## **Splitting the data into 80% training and 20% testing**

In [ ]:
train_df , test_df= final_features.randomSplit([0.8,0.2])

## **Logistic Regression**

In [ ]:
model=LogisticRegression(featuresCol='features',labelCol='Item Type Label')
LR_model=model.fit(train_df)

In [ ]:
preds_train=LR_model.transform(train_df)
preds_test=LR_model.transform(test_df)
evaluator=MulticlassClassificationEvaluator(labelCol="Item Type Label",predictionCol="prediction",metricName="accuracy")
print("Accuracy on training data is: "+str(evaluator.evaluate(preds_train)))
print("Accuracy on testing data is: "+str(evaluator.evaluate(preds_test)))

Accuracy on training data is: 1.0
Accuracy on testing data is: 1.0

## **Decision Tree Classifier**

In [ ]:
model=DecisionTreeClassifier(featuresCol='features',labelCol='Item Type Label',maxDepth=10)
DT_model=model.fit(train_df)

In [ ]:
preds_train=DT_model.transform(train_df)
preds_test=DT_model.transform(test_df)
evaluator=MulticlassClassificationEvaluator(labelCol="Item Type Label",predictionCol="prediction",metricName="accuracy")
print("Accuracy on training data is: "+str(evaluator.evaluate(preds_train)))
print("Accuracy on testing data is: "+str(evaluator.evaluate(preds_test)))

Accuracy on training data is: 1.0
Accuracy on testing data is: 1.0